.single-property-section {
  background-color: #fcfcfc;
}
.single-property-image {
  width: 70%;
}
.fa-container {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-top: 60px;
  padding: 20px;
  color: #000!important;
  box-shadow: 0px 10px 20px rgb(0 34 70 / 11%);

}
.safety-module2 {
  overflow: hidden;
  background-color: #d1ecf1;
  border-color: #bee5eb;
  color: #0c5460;
  padding-left: 25px;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  color: #464b4f;
  margin-top: 40px;
  margin-bottom: 50px;
  padding: 40px;
}
.key-features {
  background-color: #fff;
  box-shadow: 0px 10px 20px rgb(0 34 70 / 11%);
  padding: 40px;
}
.carousel {
  width: 70%!important;
}
.property-price {
  font-weight: bold;
}
.property-icon {
  font-size: 2rem;
}
