@import "assets/scss/base";
@import "../node_modules/bootstrap/scss/bootstrap";

// components
@import "assets/scss/components/input";

//pages
@import "assets/scss/pages/viewproperty";
@import "assets/scss/pages/addProperty";
@import "assets/scss/pages/singleProperty";

// layouts
@import "assets/scss/layouts/nav-layout";
